td-cards {
  display: block;
}

td-card {
  position: absolute;
  left: 50%;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: -150px;
  width: 300px;
  height: 50%;

  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  border-radius: 6px;
  background-color: #f8f8f8;
 
}

td-card .image {
  position: relative;
}

td-card .content {
  max-width: 100%;
  border-radius: 6px;
}

td-card .content .word{
    color: #105FC3;
    font-size: x-large;
    text-align: center;
    margin-top: 20px;
    font-family: initial;
    font-weight: bolder;
    line-height: initial;
}

td-card .content .definition{
  color: black;
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
    font-family: initial;
    margin-left: 15px;
    word-break: break-word;
    margin-right: 15px;
}

td-card .content .example{
  color: black;
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
    font-family: initial;
    margin-left: 15px;
    word-break: break-word;
    margin-right: 15px;
}
td-card .content .source{
  color: black;
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
    font-family: initial;
    margin-left: 15px;
    word-break: break-word;
    margin-right: 15px;
}

.title{
    background-color: #9a9aef;
}

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: rgb(111, 250, 111);
  opacity: 0;
}
.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: rgb(255, 115, 115);
  opacity: 0;
}

.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}
