<!DOCTYPE html>
<html>
<head>
  <title>Dictionary</title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <link rel="stylesheet" href="w3/ionic.tdcards.css">
  <link rel="stylesheet" href="dictionary.css">
  <link href="w3/ionic.css" rel="stylesheet">
  <link rel="stylesheet" href="w3/w3.css">
</head>
<body ng-app="starter" no-scroll ng-controller="CardsCtrl">

<nav class="w3-leftsidenav w3-sidenav w3-white" style="display:none">
  <header class="w3-container w3-teal">
    <span class="title" style="margin-left: 30px"> Words Swipe </span>
    <span onclick="left_close()" class="w3-closenav" style="float: right;"> &times;</span>
  </header>

  <div class="sidenav">
    <div class="sidenavHeader">Profile</div>
    <span>{{email}}</span>
  </div>

  <div class="sidenavHeader">Categories</div>
  <div class="categories">
    <label><input type="checkbox" class="ios-switch green" checked/>
      <div><div></div></div>
      <div class="checkBoxLabel">American slang</div>
    </label>

    <label><input type="checkbox" class="ios-switch green" checked/>
      <div><div></div></div>
      <div class="checkBoxLabel">Verbs</div>
    </label>

    <label><input type="checkbox" class="ios-switch green" checked/>
      <div><div></div></div>
      <div class="checkBoxLabel">Idioms</div>
    </label>

  </div>
</nav>

<nav class="w3-sidenav w3-collapse w3-white" style="right:0" id="rightSideNav">
  <header class="w3-container w3-teal">
    <span onclick="right_close()" class="w3-closenav" style="float: left;"> &times;</span>
    <span class="title" style="margin-right: 26px"> Words Swipe </span>
  </header>
  <div class="savedList">
    <ul>
      <li ng-repeat="savedWord in savedWords">
        <div class="savedWord">{{savedWord.word}}</div>
        <p>
          {{savedWord.definition}} <br/>
          <span class="savedWordExample">Example:</span> </br>
          {{savedWord.example}}
        </p>
      </li>
    </ul>
  </div>
</nav>

<div class="w3-main" style="margin-left:200px">
  <header class="w3-container w3-teal">
    <span class="w3-opennav w3-xlarge w3-hide-large" onclick="left_open()">&#9776;</span>
    <span class="title"> Words Swipe </span>
    <span class="w3-opennav w3-xlarge w3-hide-large" style="float: right;line-height: 42px;" ng-click="loadSavedWords()">&#9775;</span>
  </header>

  <td-cards>
    <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)" on-partial-swipe="cardPartialSwipe(amt)" class="card-{{$index}}">
      <div class="no-text">IGNORE</div>
      <div class="image">
        <div class="content">
          <div class="word">{{card.word}} </div>
          <div class="definition">
            {{card.definition}}
            <div class="space"></div>
            <div class="example">Example:</div>
            {{card.example}}
          </div>
        </div>
      </div>
      <div class="yes-text">SAVE IT</div>
      <div class="source"> <span class="sourceLabel">Source: </span> {{card.source}} </div>
    </td-card>
  </td-cards>

</div>

<script src="w3/collide.js"></script>
<script src="w3/ionic.bundle.js"></script>
<script src="w3/iconic.tdcards.js"></script>
<script src="w3/fingerprint.min.js"></script>
<script src="dictionary.js"></script>
<script src="w3/ui-bootstrap-tpls-0.10.0.min.js"></script>

<script>

  function left_open() {
    document.getElementsByClassName("w3-leftsidenav")[0].style.width = "98%";
    document.getElementsByClassName("w3-leftsidenav")[0].style.display = "block";
  }
  function left_close() {
    document.getElementsByClassName("w3-leftsidenav")[0].style.display = "none";
  }

  /*function right_open($scope) {
    document.getElementById("rightSideNav").style.width = "98%";
    document.getElementById("rightSideNav").style.display = "block";
  }*/
  function right_close() {
    document.getElementById("rightSideNav").style.display = "none";
  }
</script>

</body>
</html>
