@media screen
and (min-device-height: 481px)
and (max-device-height: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

    /* iPhone 5  */
    td-card .content .word {
        font-size: larger;
    }

    td-card .content .definition {
        font-size: 14px;
    }

    .source {
        font-size: 13px;
    }

    .yes-text {
        font-size: 28px;
    }

    .no-text {
        font-size: 28px;
    }

    .w3-closenav{
        font-size: 26px;
    }

    .title{
        font-size: 23px;
    }

    .savedList *{
        font-size: small;
    }

    .closeButton {
        font-size: 11px;
    }

    .numberCircle {
        width: 16px;
        height: 16px;
    }

    .w3-xlarge {
        font-size: 22px !important;
    }

    .w3-teal{
        line-height: 40px;
    }
}

@media screen
and (max-device-height : 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    /* iPhone 4/ 4s  */
    td-card .content .word {
        font-size: larger;
    }

    td-card .content .definition {
        font-size: 13px;
    }

    .source {
        font-size: 12px;
    }

    .yes-text {
        font-size: 24px;
    }

    .no-text {
        font-size: 24px;
    }

    .w3-closenav{
        font-size: 26px;
    }

    .title {
        font-size: 21px;
    }

    .savedList *{
        font-size: small;
    }

    .closeButton {
        font-size: 11px;
    }

    .numberCircle {
        width: 16px;
        height: 16px;
    }

    .w3-xlarge {
        font-size: 20px !important;
    }

    .w3-teal{
        line-height: 33px;
    }
}

