.modal.fade.in{
    min-height: 0px;
    position: relative;
    left: 0px;
}

.modal-header{
    background: cadetblue;
    color: white;
    font-family: inherit;
}

.btn-primary{
    background: burlywood;
    color: black;
}

.emailInput{
    height: 28px !important;
}

.btn-primary[disabled]{
    color: #333333;
    background-color: #e6e6e6;
}

.redIgnore{
    color: red;
}

.greenSave{
    color: green;
}

.centerPage{
    margin:auto;
    display:block;
    margin-top: 20px;
}