.modal.fade.in{
    height: 230px;
    position: relative;
    left: 0px;
}

.modal-header{
    background: cadetblue;
    color: white;
    font-family: inherit;
}

.btn-primary{
    background: burlywood;
    color: black;
}

.emailInput{
    height: 28px !important;
}

.btn-primary[disabled]{
    color: #333333;
    background-color: #e6e6e6;
}
