<html>
<head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css">
	<link rel="stylesheet" href="./popup/popup.css">
</head>
<div>
	<div class="modal-header">
		<h4>Email Signup</h4>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" name="myform">
			<div  class="control-group">
				<div class="controls">
					<label class="control-label">Please provide your email id to SignUp. It is useful to save your favourite words </label>
					<input type="email" name="email" class="emailInput" ng-model="email" placeholder="Email" required/>
					<button class="btn btn-primary" ng-disabled="myform.$invalid" ng-click="ok(email)">OK</button>
				</div>
			</div>
		</form>
	</div>
</div>

</html>